.header {
  display: grid;
  height: 10vh;
  grid-template-columns: 2fr .5fr;
  background-color: #2b2b2b;
}

.card-container {
  display: grid;
  height: 90vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.user-card {
  border: solid black 1px;
}